<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>杰杰后台管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <!-- 导入头部子模板 -->
        {{include "./common/header.html"}}

        <!-- 导入侧边栏子模板 -->
        {{include "./common/side.html"}}

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <div style="width: 500px;">
                    <form class="layui-form" lay-filter="formTest" id="systemForm">
                        <div class="layui-form-item">
                            <label class="layui-form-label">博客名</label>
                            <div class="layui-input-block">
                                <input type="text" name="blog_name" required lay-verify="required" placeholder="请输入标题"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-top: 50px;">
                            <label class="layui-form-label">Logo</label>
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn" id="updPic">上传图片</button>
                                <img style="width: 80px; height: 80px; position: absolute; margin-left: 10px; top: -43px;"
                                    alt="" id="viewImg">
                                <input type="file" name="pic" id="pic" style="display: none;"
                                    onchange="window.updPic(this)">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo" id="setBtn">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            底部固定区域
        </div>
    </div>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>
    <script>
        let imgbase64;
        function updPic(e) {
            let fielRead = new FileReader();
            fielRead.readAsDataURL(e.files[0])
            fielRead.onload = function (data) {
                imgbase64 = data.target.result;
                document.getElementById('viewImg').src = data.target.result;
            }
        }
        //JS 
        layui.use(['element', 'layer', 'util', 'form'], async function () {
            var element = layui.element
                , layer = layui.layer
                , util = layui.util
                , $ = layui.$
                , form = layui.form;

            // 上传图片按钮
            $('#updPic').click(function () {
                $('#pic').click();
            })



            //回显
            let SysSettings = await $.get('/getSysSettings');
            form.val("formTest", {
                blog_name: SysSettings[0].val
            });
            $(viewImg).attr('src', SysSettings[1].val)

            // 设置提交
            form.on('submit(formDemo)', function (data) {

                let formData = new FormData(document.getElementById('systemForm'));
                formData.set('oldpic', localStorage.getItem('blog_logo'));
                $.ajax({
                    type: 'post',
                    url: '/setSysSettings',
                    data: formData,
                    contentType: false,
                    processData: false
                }).then((res) => {
                    if (res.code === 200) {
                        $('#blog_name').text(data.field.blog_name);
                        if (imgbase64) {
                            $('#blog_logo').attr('src', imgbase64);
                            imgbase64 = undefined;
                            localStorage.setItem('blog_logo', res.pic);
                        }
                        localStorage.setItem('blog_name', data.field.blog_name);
                        layer.msg('修改成功', { icon: 6 });
                    }
                })
                return false;
            })
        })
    </script>
</body>

</html>