<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>杰杰后台管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/lightbox2.css">
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <!-- 导入头部子模板 -->
        {{include "./common/header.html"}}

        <!-- 导入侧边栏子模板 -->
        {{include "./common/side.html"}}

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <button id="addDataBtn" type="button" class="layui-btn layui-btn-normal">
                    <!-- <i class="layui-icon">&#xe654;</i> -->添加
                </button>
                <div class="demoTable" style="display: inline-block; margin-left: 20px;">
                    <span>搜索：</span>
                    <div class="layui-inline">
                        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
                    </div>
                    <button class="layui-btn" data-type="reload">搜索</button>
                </div>
                <table class="layui-hide" id="articleTable" lay-filter="test"></table>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            底部固定区域
        </div>
    </div>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script src="/static/js/lightbo2.js"></script>
    <script>
        //JS 
        layui.use(['element', 'layer', 'util', 'table'], function () {
            let element = layui.element,
                layer = layui.layer,
                util = layui.util,
                $ = layui.$,
                table = layui.table;

            // 文章列表
            table.render({
                elem: '#articleTable',
                url: '/getArtAllData',
                toolbar: '#toolbarDemo',//开启头部工具栏，并为其绑定左侧模板
                defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }],
                title: '用户数据表', cols: [[
                    { field: 'id', title: 'ID', width: '5%', unresize: true, sort: true },
                    { field: 'title', title: '标题', width: '10%', edit: 'text' },
                    {
                        field: '', title: '封面图', width: '10%', sort: true, templet: ({ pic }) => {
                            return `<a class="example-image-link" href="${pic}" 
                            data-lightbox="example-set">
                            <img class="example-image" src="${pic}" alt=""/></a>`
                        }
                    },
                    { field: 'username', title: '作者', width: '10%' },
                    {
                        field: '', title: '内容', width: '10%', templet: function () {
                            return `<div lay-event="lookContent">查看详情</div>`;
                        }
                    },
                    { field: 'status', title: '状态', width: '10%', sort: true },
                    {
                        field: 'add_date', title: '添加时间', width: '15%', templet: ({ add_date }) => {
                            return layui.util.toDateString(add_date, 'yyyy年MM月dd日 HH:mm:ss');
                        }
                    },
                    { field: 'cate_name', title: '分类', width: '10%', sort: true },
                    { title: '操作', toolbar: '#barDemo', width: 145 }
                ]],
                page: true
            });

            // 监听行工具
            table.on('tool(test)', function (obj) {
                let data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        let id = data.id;
                        let pic = data.pic;

                        $.get(`/delArtData`, { id, pic })
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    let { id } = data;
                    location.href = `/editArt/?id=${id}`;
                } else if (obj.event === 'lookContent') {
                    let { title, content, username, add_date } = data;
                    add_date = layui.util.toDateString(add_date, 'yyyy年MM月dd日');
                    content = `<div style="padding:15px">
                                    <h2>${title}</h2>
                                    <div>${add_date} ${username}</div>
                                    ${content}
                                </div>`;

                    layer.open({
                        title: '查看详情',
                        shadeClose: true,
                        content
                    });
                }
            });


            const addBtn = $('#addDataBtn');
            addBtn.click(function () {
                location.href = '/addArticle'
            })

            // 搜索
            $('.demoTable .layui-btn').on('click', function () {
                let searchVal = $('#demoReload').val();
                table.reload('articleTable', {
                    where: {
                        keyword: searchVal
                    }
                })
            });

            // 图片灯箱
            layer.photos({
                photos: '#layer-photos-demo'
                , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
            });
        });
    </script>
</body>

</html>