<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>杰杰后台管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <!-- 导入头部子模板 -->
        {{include "./common/header.html"}}

        <!-- 导入侧边栏子模板 -->
        {{include "./common/side.html"}}

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <div id="cateCharset" style="width: 600px;height:400px;"></div>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            底部固定区域
        </div>
    </div>
    <script src="/static/js/echarts.js"></script>
    <script>
        //JS 
        layui.use(['element', 'layer', 'util'], async function () {
            var element = layui.element
                , layer = layui.layer
                , util = layui.util
                , $ = layui.$;

            //头部事件
            util.event('lay-header-event', {
                //左侧菜单事件
                menuLeft: function (othis) {
                    layer.msg('展开左侧菜单的操作111', { icon: 0 });
                }
                , menuRight: function () {
                    layer.open({
                        type: 1
                        , content: '<div style="padding: 15px;">处理右侧面板的操作234</div>'
                        , area: ['260px', '100%']
                        , offset: 'rt' //右上角
                        , anim: 5
                        , shadeClose: true
                    });
                }
            });


            // 获取系统设置
            let SysSettings = await $.get('/getSysSettings');
            let blog_name = SysSettings.find(item => {
                if (item.name === 'blog_name') {
                    return true;
                }
            })
            $('#blog_name').text(blog_name.val);
            localStorage.setItem('blog_name', blog_name.val);

            //分类 可视化
            // 获取分类数据
            let cateTotal = await $.get('/getCateTotal');
            console.log(cateTotal);
            let cateNum = [];
            let cateName = [];
            cateTotal.result.forEach(item => {
                cateNum.push(item.total)
                if (!item.cate_name) {
                    item.cate_name = '未分类';
                }
                cateName.push(item.cate_name)
            });
            const cateCharset = echarts.init(document.getElementById('cateCharset'));
            const cateCharsetOption = {
                title: {
                    text: '文章数量'
                },
                tooltip: {},
                legend: {
                    data: ['销量']
                },
                xAxis: {
                    data: cateName
                },
                yAxis: {},
                series: [
                    {
                        name: '数量',
                        type: 'bar',
                        data: cateNum
                    }
                ]
            };
            cateCharset.setOption(cateCharsetOption);
        });
    </script>
</body>

</html>