<style>
    .layui-layer-title {
        border-bottom-width: 0px;
    }

    #demo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    .avatar {
        display: flex;
        column-gap: 20px;
    }

    .avatar button {
        border-radius: 50px;
        border: 1px solid #eceff4;
        background-color: #fff;
        border-radius: 20px;
        line-height: 24px;
        font-size: 14px;
        padding: 0 5px;
        cursor: pointer;
    }

    #fileBox {
        display: none;
    }
</style>
<script src="/static/layui/layui.js"></script>
<div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">
        <img id="blog_logo" style="width: 30px;" src="" alt="">
        <span id="blog_name">小猪博客管理系统</span>
    </div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <!-- 移动端显示 -->
        <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
            <i class="layui-icon layui-icon-spread-left"></i>
        </li>

        <li class="layui-nav-item layui-hide-xs"><a href="">nav 1</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="">nav 2</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="">nav 3</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">nav groups</a>
            <dl class="layui-nav-child">
                <dd><a href="">menu 11</a></dd>
                <dd><a href="">menu 22</a></dd>
                <dd><a href="">menu 33</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item layui-hide layui-show-md-inline-block">
            <a href="javascript:;">
                <img src="" id="userPic" class="layui-nav-img">
                <span id="username"></span>
            </a>
            <dl class="layui-nav-child">
                <dd><a href="JavaScript:;" id="userinfo">个人信息</a></dd>
                <dd><a href="javascript:;" id="setPassword">修改密码</a></dd>
                <dd><a href="javascript:;" id="exit">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
            <a href="javascript:;">
                <i class="layui-icon layui-icon-more-vertical"></i>
            </a>
        </li>
    </ul>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script>
    // 获取用户信息
    let { id, username, avatar, intro } = JSON.parse(Cookies.get('userinfo'));
    $('#userPic').attr('src', `${avatar}`);

    function userForm() {
        let { id, username, avatar, intro } = JSON.parse(Cookies.get('userinfo'));
        return `
        <div  style="width: 400px; padding:20px 0;">
                <div class="layui-form-item">
                    <label class="layui-form-label">头像</label>
                    <div class="layui-input-block">
                        <div class="avatar">
                            <input type="file" name="pid" id="fileBox" onchange="ImgUpdate(this)">
                            <img src="${avatar}" alt="" id="demo">
                            <div>
                                <button id="test">上传新头像</button>
                                <p>支持jpg、png、gif格式</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">账号名</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" value="${username}" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">个人简介</label>
                    <div class="layui-input-block">
                    <textarea name="intro" id="introIpt" placeholder="请输入内容" class="layui-textarea">${intro}</textarea>     
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" id="setUsetInfo" lay-submit lay-filter="formDemo">立即修改</button>
                    </div>
                </div>
        </div>
    `
    }

    // 博客名 & logo
    let blog_name = localStorage.getItem('blog_name');
    document.getElementById('blog_name').innerHTML = blog_name;
    let blog_logo = localStorage.getItem('blog_logo');
    document.getElementById('blog_logo').src = blog_logo;

    // 用户名显示
    document.getElementById('username').innerText = username;

    // 打开用户信息
    document.getElementById('userinfo').onclick = function () {
        layer.open({
            type: 1,
            title: '个人信息',
            area: ['480px'], //宽高
            shadeClose: true,
            content: userForm(),
        });
    }

    // 提交新个人信息
    $(document).on('click', '#setUsetInfo', function () {
        let dataObj = {
            id: id,
            username: document.querySelector('input[name="username"]').value,
            intro: document.querySelector('textarea[name="intro"]').value,
        }

        $.ajax({
            type: 'post',
            url: '/setUsetInfo',
            data: dataObj
        }).then((res) => {
            if (res.code === 200) {
                document.getElementById('username').innerText = dataObj.username;
                document.getElementById('introIpt').innerText = dataObj.intro;

                intro = dataObj.intro;
                layer.close(layer.index);
                layer.msg('修改成功');
            } else {
                layer.msg('修改失败')
            }
        })
        return false;
    })

    // 打开上传文件按钮
    $(document).on('click', '#test', function () {
        document.getElementById('fileBox').click();
        return false;
    })

    $(document).on('click', '#demo', function () {
        document.getElementById('fileBox').click();
        return false;
    })

    // 头像上传
    function ImgUpdate() {
        let { avatar } = JSON.parse(Cookies.get('userinfo'));
        console.log(avatar);
        let formData = new FormData();
        formData.set('pic', fileBox.files[0]);
        formData.set('oldpic', avatar);
        formData.set('id', id);
        $.ajax({
            type: 'post',
            url: '/updatePic',
            data: formData,
            processData: false,
            contentType: false,
        }).then((res) => {
            if (res.code === 200) {
                layer.msg('修改成功', { icon: 1 })
                $('#userPic').attr('src', res.pic);
                $('#demo').attr('src', res.pic);
            }
        })
    }

    const setPWHTML = `
    <div  style="width: 400px; padding:20px 0;">
            <form class="layui-form" id="newPwForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">旧密码</label>
                    <div class="layui-input-block">
                        <input type="password" id="oldPW" name="username" value="" required lay-verify="required" placeholder="请输入旧密码" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-block">
                        <input type="password" id="newPW" name="username" value="" required lay-verify="required" placeholder="请输入新密码" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">重复确认</label>
                    <div class="layui-input-block">
                        <input type="password" id="rePW" name="username" value="" required lay-verify="required" placeholder="请重复输入" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" id="setNewPW" lay-submit lay-filter="formDemo">立即修改</button>
                    </div>
                </div>
            </form> 
        </div>  
    `
    // 修改密码
    document.getElementById('setPassword').onclick = function () {
        layer.open({
            type: 1,
            title: '修改密码',
            area: ['480px'], //宽高
            shadeClose: true,
            content: setPWHTML
        })
    }

    $(document).on('keyup', '#rePW', function () {
        let newPW = $('#newPW').val();
        let rePW = $('#rePW').val();
        if (newPW !== rePW) {
            layer.msg('两次密码不一致', { time: 200 });
        }
    })
    $(document).on('click', '#setNewPW', function () {
        let oldPW = $('#oldPW').val();
        let newPW = $('#newPW').val();
        let rePW = $('#rePW').val();
        if (newPW !== rePW) {
            layer.msg('两次密码不一致', { time: 200 });
        } else {
            $.ajax({
                type: 'post',
                url: '/setNewPW',
                data: { id, oldPW, newPW }
            }).then((res) => {
                if (res.code === 200) {
                    layer.msg('修改成功', { icon: 1 });
                    setTimeout(() => {
                        document.getElementById('exit').click();
                    }, 500)
                }
            })
        }
        return false;
    })

    // 退出
    document.getElementById('exit').onclick = function () {
        axios({
            method: 'get',
            url: '/userExit'
        }).then((res) => {
            if (res.data.code === 200) {
                location.href = '/login';
            }
        })
    }


</script>